

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/